.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(126, 126, 236);
    padding: 0.75rem;
    align-items: center;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    /* height: auto; */
}

.Navbar img {
    width: 7rem;
    cursor: pointer;
}

.profile {
    padding: 0.5rem;
    background: white;
    border-radius: 100%;
    cursor: pointer;
}

.navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}